<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epam.poc.kinvey"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.epam.poc.kinvey.SyncApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name="com.epam.poc.kinvey.activity.SyncpointActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.epam.poc.kinvey.activity.FileSystemActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.epam.poc.kinvey.activity.TextPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.epam.poc.kinvey.activity.ImagePreviewActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>

